<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>This is a Title</title>
    
</head>
<body>

	<div class="container">
		<div class="navbar">
			<div class="navbar__title">
				<h4 style="color: var(--primary-color);">Аналитика <span style="color: var(--primary-green);">360</span></h4>
			</div>
			<div class="navbar__body">
				<ul class="navbar__body-list">
					<li>
						<a href="">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: var(--text-color);"><path d="M3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707l-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13zm7 7v-5h4v5h-4zm2-15.586 6 6V15l.001 5H16v-5c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v5H6v-9.586l6-6z"></path></svg>
							<span class="navbar__body-list-span">Общая</span>
						</a>
					</li>
					<li>
						<a href="">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: var(--text-color);"><path d="M15 2.013H9V9H2v6h7v6.987h6V15h7V9h-7z"></path></svg>
							<span  class="navbar__body-list-span">По отделениям</span>
						</a>
					</li>
					<li>
						<a href="">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: var(--text-color);"><circle cx="12" cy="4" r="2"></circle><path d="M12 18h2v-5h2V9c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v4h2v5h2z"></path><path d="m18.446 11.386-.893 1.789C19.108 13.95 20 14.98 20 16c0 1.892-3.285 4-8 4s-8-2.108-8-4c0-1.02.892-2.05 2.446-2.825l-.893-1.789C3.295 12.512 2 14.193 2 16c0 3.364 4.393 6 10 6s10-2.636 10-6c0-1.807-1.295-3.488-3.554-4.614z"></path></svg>
							<span class="navbar__body-list-span">По врачам</span>
						</a>
					</li>
					<li>
						<a href="">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: var(--text-color);"><path d="M3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707l-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13zm7 7v-5h4v5h-4zm2-15.586 6 6V15l.001 5H16v-5c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v5H6v-9.586l6-6z"></path></svg>
							<span class="navbar__body-list-span">По типу СЭМД</span>
						</a>
					</li>
				</ul>
			</div>
    		
	    </div>
	    <div class="body">
	    	<div class="body__head">
	    		<div class="body__head-month">
	    			<span class="body__head-month-title">Август</span>
	    		</div>
	    		<div class="body__head-month">
	    			<span class="body__head-month-title">Сентябрь</span>
	    		</div>
	    		<div class="body__head-month">
	    			<span class="body__head-month-title">Октябрь</span>
	    		</div>
	    		<div class="body__head-month">
	    			<span class="body__head-month-title">Ноябрь</span>
	    		</div>
	    	</div>
	    	<div class="body__container">
	    		<div class="body__container-box">
	    			<div class="body__container-box-element">
	    				<div class="body__container-box-element-head">
	    					<span class="body__container-box-element-value">{{status.5}}</span>
	    					<span class="body__container-box-element-value-percent">+0%</span>
	    				</div>
	    				<span class="body__container-box-element-title">Всего</span>
	    			</div>
	    			<div class="body__container-box-element">
	    				<div class="body__container-box-element-head">
	    					<span class="body__container-box-element-value">{{status.1}}</span>
	    					<span class="body__container-box-element-value-percent">+0%</span>
	    				</div>
	    				<span class="body__container-box-element-title">Зарегистрировано</span>
	    			</div>
	    			<div class="body__container-box-element">
	    				<div class="body__container-box-element-head">
	    					<span class="body__container-box-element-value">{{status.0}}</span>
	    					<span class="body__container-box-element-value-percent">+0%</span>
	    				</div>
	    				<span class="body__container-box-element-title">Ошибок</span>
	    				
	    			</div>
	    			<div class="body__container-box-element">
	    				<div class="body__container-box-element-head">
	    					<span class="body__container-box-element-value">560</span>
	    					<span class="body__container-box-element-value-percent">+0%</span>
	    				</div>
	    				<span class="body__container-box-element-title">На регистрации</span>
	    				
	    			</div>
	    			<div class="body__container-box-element">
	    				<div class="body__container-box-element-head">
	    					<span class="body__container-box-element-value">70</span>
	    					<span class="body__container-box-element-value-percent">+0%</span>
	    				</div>
	    				<span class="body__container-box-element-title">Не отправленых</span>
	    				
	    			</div>
	    			<div class="body__container-box-element">
	    				<div class="body__container-box-element-head">
	    					<span class="body__container-box-element-value">20</span>
	    					<span class="body__container-box-element-value-percent">+0%</span>
	    				</div>
	    				<span class="body__container-box-element-title">Системные ошибки</span>
	    				
	    			</div>
	    		</div>
	    		<!--<div class="body__container-box-top-diagrams">
	    			<div class="body__container-box-top-diagrams-element">1</div>
	    			<div class="body__container-box-top-diagrams-element">1</div>
	    			<div class="body__container-box-top-diagrams-element">1</div>
	    		</div>-->
	    		<div class="body__container-box-center">
	    			<table>
						<thead>
						  <tr>
							<td>Отделение</td>
							<td>Зарегистрировано</td>
							<td>Ошибка модуля отправки</td>
							<td>Повторная регистрации</td>
							<td>ДУЛ не соответствует</td>
							<td>Запрещена регистрация новой версии</td>
							<td>Не соответствуют данные подписанта</td>
							<td>Технические ошибки</td>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<td>Гинекология</p></td>
							<td><p>549</p></td>
							<td><p>1</p></td>
							<td><p>0</p></td>
							<td><p>10</p></td>
							<td><p>0</p></td>
							<td><p>0</p></td>
							<td><p>0</p></td>
						  </tr>
						  <tr>
							<td>Кардиология</td>
							<td><p>1340</p></td>
							<td><p>0</p></td>
							<td><p>15</p></td>
							<td><p>0</p></td>
							<td><p>0</p></td>
							<td><p>0</p></td>
							<td><p>0</p></td>
						  </tr>
						  <tr>
							<td>КДО</td>
							<td>14757</td>
							<td>41</td>
							<td>156</td>
							<td>202</td>
							<td>30</td>
							<td>0</td>
							<td>5</td>
						  </tr>
						  <tr>
							<td>Терапия</td>
							<td>1179</td>
							<td>4</td>
							<td>8</td>
							<td>17</td>
							<td>0</td>
							<td>0</td>
							<td>5</td>
						  </tr>
						  <tr>
							<td>Неврология</td>
							<td>693</td>
							<td>2</td>
							<td>6</td>
							<td>4</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						  </tr>
						  <tr>
							<td>Онкология</td>
							<td>586</td>
							<td>2</td>
							<td>22</td>
							<td>5</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						  </tr>
						  <tr>
							<td>ОСХ</td>
							<td>488</td>
							<td>0</td>
							<td>0</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>1</td>
						  </tr>
						  <tr>
							<td>ЛОР</td>
							<td>545</td>
							<td>1</td>
							<td>5</td>
							<td>18</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						  </tr>
						  <tr>
							<td>Патанатомия</td>
							<td>441</td>
							<td>4</td>
							<td>0</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>1</td>
						  </tr>
						  <tr>
							<td>Стоматология №1</td>
							<td>1864</td>
							<td>16</td>
							<td>26</td>
							<td>28</td>
							<td>4</td>
							<td>1</td>
							<td>0</td>
						  </tr>
						  <tr>
							<td>Роддом(Общая)</td>
							<td>5494</td>
							<td>10</td>
							<td>155</td>
							<td>36</td>
							<td>6</td>
							<td>489</td>
							<td>14</td>
						  </tr>
						  <tr>
							<td>ОРИТ</td>
							<td>6</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						  </tr>
						  <tr>
							<td>Рентген</td>
							<td>834</td>
							<td>8</td>
							<td>12</td>
							<td>13</td>
							<td>5</td>
							<td>0</td>
							<td>0</td>
						  </tr>
						</tbody>
					  </table>
	    		</div>
	    		
	    	</div>
	    </div>	
	</div>
	

</body>
<footer>

</footer>
</html>