<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .progress-container {
            margin-bottom: 20px;
        }
        
        .progress-bar {
            transition: width 0.5s ease-in-out;
        }
        
        .progress-text {
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Загрузка CSV файла</h2>
        <form action="{% url 'dashboard:upload_csv' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                <div class="col-md-8">
                    <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                    <button class="btn btn-primary"> 
                        <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>
                        Upload
                    </button>
                </div>
            </div>
            
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            {% if progress %}
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                        style="width: {{ progress }}%;">
                        {{ progress }}%
                    </div>
                </div>
                <p>
                    Обработано: {{ processed }} из {{ total }} записей
                </p>
            {% endif %}
        </form>
        <form method="post" action="{% url 'dashboard:delete_all_semd' %}" style="margin-top:20px;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить все записи?')">
                <span class="glyphicon glyphicon-trash"></span> Удалить все записи Semd
            </button>
        </form>
        <a href="{% url 'dashboard:index' %}" class="btn btn-primary" style="margin-top:20px;">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
        </a>
    </div>
</body>
</html>
